<style type="">
@import "bourbon";

body {
	background: #eee !important;	
}

.wrapper {
	margin-top: 90px;
  	margin-bottom: 90px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
	
}

.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top: 30px;
}
.cp{
	cursor: pointer;
}

</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 

  <div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading mt10">Bienvenido</h2>
      <input type="text" class="form-control mt20" name="usuario" placeholder="Usuario" required="" autofocus="" />
      <input type="password" class="form-control mt10" name="contrasena" placeholder="Contraseña" required=""/>      
      <a href="../proceso/lista_procesos.html" class="btn btn-lg btn-primary btn-block mt20 cp" role="button" aria-pressed="true">Ingresar</a>
      <!-- <button class="btn btn-lg btn-primary btn-block mt20 cp" type="submit" href="../proceso/proceso.html">Ingresar</button>    -->
      <button class="btn btn-lg btn-secondary btn-block mt10 cp" type="submit">Registrarse</button>   
    </form>
  </div>