@import "bourbon";

body {
	background: #eee !important;

}
.space-icon {
  padding-left: 5px;
  padding-right: 15px;
}

.panel-body {
  -webkit-transition: background-color 800ms;
  -moz-transition: background-color 800ms;
  -o-transition: background-color 800ms;
  transition: background-color 800ms;
}

.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top: 30px;
}
.cp{
	cursor: pointer;
}
.txtwhite{
	color: white;
}
.navbar-inverse {
    background-color: #286090!important;
    border-color: #286090!important;
}


