<style type="">
@import "bourbon";

body {
	background: #eee !important;

}
.space-icon {
  padding-left: 5px;
  padding-right: 15px;
}

.panel-body {
  -webkit-transition: background-color 800ms;
  -moz-transition: background-color 800ms;
  -o-transition: background-color 800ms;
  transition: background-color 800ms;
}

.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top: 30px;
}
.cp{
	cursor: pointer;
}
.txtwhite{
	color: white;
}
.navbar-inverse {
    background-color: #286090!important;
    border-color: #286090!important;
}

</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 

  <div class="wrapper">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header txtwhite">
        <!-- <img alt="Cognox" src="http://www.cognox.com/sitios/Cognox/IMG/logCx.png"> -->
        <h3><span class="glyphicon glyphicon-home"></span> Bienvenido</h3>

    </div>
  </div>
</nav>

<!-- Mi proceso -->
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Mi proceso</h3>     
      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
      </table>
      No ha registrado proceso
      <a href="proceso.html" class="btn btn-primary active" role="button" aria-pressed="true">Crear proceso</a>
    </div>
  </div>
</div>
<!-- Lista de procesos -->
<div class="container">
    <div class="panel panel-default">
    <div class="panel-body">
      <h3>Lista de procesos</h3>    
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> 
<!--   <div class="panel panel-default">
    <div class="panel-body text-center">
      <span class="btn btn-success">Ok</span>                  
      <span class="btn btn-warning">Pendiente</span>                  
      <span class="btn btn-danger">Falló</span>                  
    </div>
  </div> -->