<style type="">
@import "bourbon";

body {
	background: #eee !important;	
}
.space-icon {
  padding-left: 5px;
  padding-right: 15px;
}

.panel-body {
  -webkit-transition: background-color 800ms;
  -moz-transition: background-color 800ms;
  -o-transition: background-color 800ms;
  transition: background-color 800ms;
}

.mt10{
	margin-top: 10px;
}
.mt20{
	margin-top: 20px;
}
.mt30{
	margin-top: 30px;
}
.cp{
	cursor: pointer;
}
.txtwhite{
	color: white;
}

.navbar-inverse {
    background-color: #286090!important;
    border-color: #286090!important;
}

</style>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 

  <div class="wrapper">
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header txtwhite">
        <!-- <img alt="Cognox" src="http://www.cognox.com/sitios/Cognox/IMG/logCx.png"> -->
        <h3><span class="glyphicon glyphicon-pencil"></span> Crear nuevo proceso</h3>
    </div>
  </div>
</nav>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="proceso" class="col-sm-5 control-label">Proceso N°</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="proceso" readonly="readonly" placeholder="ABCD123456">
          </div>
        </div>
        <div class="form-group">
          <label for="descipcion" class="col-sm-5 control-label">Descripción</label>
          <div class="col-sm-4">
            <textarea class="form-control" rows="5" id="descripcion"></textarea>
          Máximo 200 caracteres
          </div>
        </div>
        <div class="form-group">
          <label for="sede" class="col-sm-5 control-label">Sede</label>
          <div class="col-sm-4">
            <select name="sede" id="sede" class="form-control" >
              <option value="1">Bogotá</option>
              <option value="2">México</option>
              <option value="3">Perú</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="presupuesto" class="col-sm-5 control-label">Presupuesto</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="presupuesto">
          </div>
        </div>    
        
        <div class="form-group">
          <div class="col-sm-12 text-center">
<!--             <button type="submit" class="btn btn-info">
              Guardar
              <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            </button> -->
              <a href="" class="btn btn-primary active" role="button" aria-pressed="true">Guardar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  
<!--   <div class="panel panel-default">
    <div class="panel-body text-center">
      <span class="btn btn-success">Ok</span>                  
      <span class="btn btn-warning">Pendiente</span>                  
      <span class="btn btn-danger">Falló</span>                  
    </div>
  </div> -->